<p class="info-text">Favorite actors works!</p>


<div *ngIf="favoriteActors.length > 0">

  <h2>Favorite Actors</h2>
  
  <div class="actors-grid">
    <ng-container *ngFor="let actor of favoriteActors; let i = index">
      <div class="actor-card" *ngIf="i < 9" (click)="onActorSelected(actor)">
        <img [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path : 'assets/default-actor-picture.png'" [alt]="actor.name + ' profile picture'">
        <h3>{{ actor.name }}</h3>
        <div *ngIf="actor.known_for.length > 0" class="known-for">
          <p>Known for:</p>
          <ul>
            <li *ngFor="let movie of actor.known_for; let j = index">
              {{ movie.title }}{{ (j + 1) < actor.known_for.length ? ',' : '' }}
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>
