<p class="info-text">Actor search works!</p>

<button (click)="navigateToFavorites()">View Favorites</button>
<div class="search-bar">
  <input type="text" [(ngModel)]="query" placeholder="Enter actor name">
  <button (click)="searchActors()">Search</button>
</div>

<div *ngIf="searchResults.length > 0">
  <h2>Search Results</h2>
  <div class="actors-grid">
    <ng-container *ngFor="let actor of searchResults; let i = index">
      <div class="actor-card" *ngIf="i < 9">
        <img [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path : 'assets/default-actor-picture.png'" [alt]="actor.name + ' profile picture'">
        <svg class="heart-icon" width="20" height="20" viewBox="0 0 24 24" (click)="toggleFavorite(actor.id)" [ngClass]="{'filled-heart': isFavorite(actor.id)}">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
        <h3>{{ actor.name }}</h3>
        <div *ngIf="actor.known_for.length > 0" class="known-for">
          <p>Known for:</p>
          <ul>
            <li *ngFor="let movie of actor.known_for; let j = index">
              {{ movie.title }}{{ (j + 1) < actor.known_for.length ? ',' : '' }}
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>
